@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}
header , footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

#logo {
    font: 24px;
    color: #f9faf8;
    font-weight: bold;
}

/* i just needed to display flex the list, not the container */
ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}
 a{
    text-decoration: none;
    color: #e5e7e5;
 }

#maintitle {
    font-size: 48px ;
    color: #f9faf8;
    font-weight: 1200px;
}
#subtext {
    font-size: 18px;
    color: #e5e7e5;
    margin-bottom: 15px;
}
button {
    background-color: #3882f6;
    border-radius: 7px;
    padding: 7px;
    color: white;
    width: 90px;
}

.container {
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 200px;
}

#bigcontainer {
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 100px;
}
/*CONTENT SECTION BELOW!!!!*/
.content {
    text-align: center; 
    /* i need to text align center this*/
    margin: 100px;
}
#contenttitle {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}
.imagecards {
    display: flex;
    justify-content: center;
    /* legit forgot gap exists, idiot */
}
.text {
    text-align: center;
}

/* QUOTES SECTION */
.quotescontainer {
    background-color: #e5e7eb;
    padding: 75px;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#quotes {
    font-size: 36px;
    color: #1f2937;
    font-family: 'Times New Roman', Times, serif;
}

#thor {
    font-weight: bold;
}

/* CALL TO ACTION SECTION */
.action {
    background-color: #3882f6;
    margin: 75px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 35px;
}

#actiontitle , #actiontext {
    color: white;
}
#actiontitle {
    font-size: larger;
    font-weight: bolder;
}

#actionbutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

/*FOOTER FUCKING FINALLY */
footer {
    padding: 30px;
}
.text {
    color: gray;
}
